PENSION_DATA_ROOT=./data/raw/연금
PARSED_DATA_ROOT=./data/parsed
INDEX_DATA_ROOT=./data/indexes

GENERATOR_BACKEND=fake
APP_ENV=development
HCX_API_KEY=
HCX_MODEL=
HCX_BASE_URL=
HCX_TIMEOUT_SECONDS=30
HCX_MAX_RETRIES=2
HCX_MIN_INTERVAL_SECONDS=2
